<main>
  <header>
    <!-- why is this giving me "We can't find the internet"???
    <.flash_group flash={@flash} />
    -->
  </header>
  <div class="flex flex-wrap">
    <%= @inner_content %>
  </div>
</main>
